/build/**/out/
/build/**/out-*/
/build/**/*.tar.gz
/build/webos-oe/toolchain/
/build/webos-oe/arm-sysroot/
/build/webos-oe/device-bundle/
/build/webos-oe/hl-bundle/
/build/webos-oe/adapter-deps/qt4-extract/
/build/webos-oe/adapter-deps/libpbnjson/
/build/webos-oe/adapter-deps/yajl/
/build/webos-oe/adapter-deps/yajl-inc/
/build/webos-oe/adapter-deps/npapi-headers/
/build/webos-oe/adapter-deps/staging/
/build/webos-oe/adapter-deps/build/
/build/webos-oe/adapter-deps/build-pdk/
*.o
*.lo
*.la
*.so
*.so.*
*.a
obj-*/
*.ipk
*.deb
*.ipk.*
*.swp
*~
.DS_Store
/context/**/.cache/
.claude/
