[submodule "third_party/uxp"]
	path = third_party/uxp
	url = https://repo.palemoon.org/MoonchildProductions/UXP
[submodule "third_party/mochi"]
	path = third_party/mochi
	url = https://github.com/webOSArchive/mochi
[submodule "third_party/mochi-sampler"]
	path = third_party/mochi-sampler
	url = https://github.com/webOSArchive/mochi-sampler
[submodule "third_party/enyo-layout"]
	path = third_party/enyo-layout
	url = https://github.com/enyojs/layout
